<%= form_for @announcement, html: {"data-shopify-app-submit" => "announcement_submit"} do |f| %>
  <%= f.hidden_field :fonts %>
  <%= f.hidden_field :font_size %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.label :button_text %>
  <%= f.text_field :button_text %>
  <%= f.radio_button :active, true %>
  <%= f.label :active_true, "Active" %>
  <%= f.radio_button :active, false %>
  <%= f.label :active_false, "Inactive" %>
  <div class="cell-container">
    <div class="cell-column">
      <%= f.label :background_color %>
      <%= f.text_field :background_color, class: "color-picker" %>
    </div>
    <div class="cell-column">
      <%= f.label :text_color %>
      <%= f.text_field :text_color, class: "color-picker" %>
    </div>
  </div>
  <div class="cell-container">
    <div class="cell-column">
      <%= f.label :button_background_color %>
      <%= f.text_field :button_background_color, class: "color-picker" %>
    </div>
    <div class="cell-column">
      <%= f.label :button_text_color %>
      <%= f.text_field :button_text_color, class: "color-picker" %>
    </div>
  </div>
  <%= f.label :display_pages_option, "Display pages" %>
  <%= f.radio_button :display_pages_option, 0, checked: true %>
  <%= f.label :display_pages_option_0, "Any pages" %>
  <%= f.radio_button :display_pages_option, 1 %>
  <%= f.label :display_pages_option_1, "Home page only" %>  
  <%= f.radio_button :display_pages_option, 2 %>
  <%= f.label :display_pages_option_2, "Pages with URLs (use comma to separate if there are multiple URLs)" %>
  <%= f.radio_button :display_pages_option, 3 %>
  <%= f.label :display_pages_option_3, "Pages that contains the keyword in their URLs (use comma to separate if there are multiple keywords)" %>
  <%= f.text_field :display_pages, placeholder: "URLs or keywords" %>

  <%= f.label :exclude_pages_option, "Exclude pages" %>
  <%= f.radio_button :exclude_pages_option, 0, checked: true %>
  <%= f.label :exclude_pages_option_0, "Not exclude any pages" %>
  <%= f.radio_button :exclude_pages_option, 1 %>
  <%= f.label :exclude_pages_option_1, "Home page only" %>  
  <%= f.radio_button :exclude_pages_option, 2 %>
  <%= f.label :exclude_pages_option_2, "Pages with URLs (use comma to separate if there are multiple URLs)" %>
  <%= f.radio_button :exclude_pages_option, 3 %>
  <%= f.label :exclude_pages_option_3, "Pages that contains the keyword in their URLs (use comma to separate if there are multiple keywords)" %>
  <%= f.text_field :exclude_pages, placeholder: "URLs or keywords" %>

  <%= f.label :goal %>
  <%= f.text_field :goal, value: "100" %>
  <%= f.label :initial_message %>
  <div class="cell-container">
    <div class="cell-column">
      <%= text_field_tag "initial_message_parts[]", "Free shipping for order over " %>
    </div>
    <%= hidden_field_tag "initial_message_parts[]", "%s" %>
    <div class="cell-column">
      <%= text_field_tag "initial_message_parts[]", ". Go to get it!" %>
    </div>
  </div>
  <%= f.label :progress_message %>
  <div class="cell-container">
    <div class="cell-column">
      <%= text_field_tag "progress_message_parts[]", "Only " %>
    </div>
    <%= hidden_field_tag "progress_message_parts[]", "%s" %>
    <div class="cell-column">
      <%= text_field_tag "progress_message_parts[]", " more to get free shipping. Keep going!" %>
    </div>
  </div>
  <%= f.label :achieved_message %>
  <%= f.text_field :achieved_message, value: "Congratulation! You've got free shipping." %>
  <%= f.label :currency_color %>
  <%= f.text_field :currency_color, class: "color-picker" %>
<% end %>